[[language]]
name = "python"
roots = ["pyproject.toml", "setup.py", "Poetry.lock", ".git"]
language-servers = ["pyright", "ruff"]
auto-format = true
[language-server.pyright.config.python.analysis]
typeCheckingMode = "basic"
[language-server.ruff]
command = "ruff-lsp"
[language-server.ruff.config.settings]
args = ["--ignore", "E501"]
[language.formatter]
command = "black"
args = ["--line-length", "88", "--quiet", "-"]

[[language]]
name = "nim"
auto-format = true
language-servers = ["nimlsp", "nimlangserver"]
[language-server.nimlsp]
command = "nimlsp"
[language-server.nimlangserver]
command = "nimlangserver"
[language.formatter]
command = "nph"
args = ["-"]

[[language]]
name = "go"
auto-format = true
formatter = { command = "goimports" }

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "yaml"] }
# [language-server.yaml-language-server.config.yaml]
# format = { enable = true }
# validation = true

[[language]]
name = "markdown"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "markdown"] }

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["fmt", "-"] }

[[language]]
name = "templ"
auto-format = true
formatter = { command = "templ", args = ["fmt"] }
