[apps/seahorse/listing]
keyrings-selected=['secret-service:///org/freedesktop/secrets/collection/login']

[apps/seahorse/windows/key-manager]
height=984
width=948

[ca/desrt/dconf-editor]
saved-pathbar-path='/org/gnome/desktop/app-folders/folder-children'
saved-view='/org/gnome/desktop/app-folders/folder-children'
show-warning=false
window-height=984
window-is-maximized=false
window-width=1904

[com/github/donadigo/eddy]
mime-types=['application/vnd.debian.binary-package', 'application/x-deb']
window-width=674
window-x=2934
window-y=262

[com/system76/hidpi]
enable=true
mode='hidpi'

[io/elementary/appcenter/settings]
cached-drivers=['rtl8821ce-dkms, (kernel modules provided by rtl8821ce-dkms)', 'nvidia-driver-510, (kernel modules provided by nvidia-dkms-510)', 'nvidia-driver-525, (kernel modules provided by nvidia-dkms-525)', 'nvidia-driver-470, (kernel modules provided by nvidia-dkms-470)', 'nvidia-driver-525-server, (kernel modules provided by nvidia-dkms-525-server)', 'nvidia-driver-470-server, (kernel modules provided by nvidia-dkms-470-server)', 'nvidia-driver-450-server, (kernel modules provided by nvidia-dkms-450-server)', 'nvidia-driver-515-server, (kernel modules provided by nvidia-dkms-515-server)', 'nvidia-driver-418-server, (kernel modules provided by nvidia-dkms-418-server)']
last-refresh-time=int64 1681417496
window-maximized=false
window-position=(8, 40)
window-size=(948, 1032)

[org/gnome/Geary]
migrated-config=true
window-height=1032
window-width=948

[org/gnome/Totem]
active-plugins=['screenshot', 'mpris', 'apple-trailers', 'recent', 'autoload-subtitles', 'variable-rate', 'screensaver', 'save-file', 'vimeo', 'open-directory', 'movie-properties', 'rotation', 'skipto']
subtitle-encoding='UTF-8'

[org/gnome/baobab/ui]
window-size=(948, 1032)
window-state=87168

[org/gnome/calculator]
accuracy=9
angle-units='degrees'
base=10
button-mode='basic'
number-format='automatic'
show-thousands=false
show-zeroes=false
source-currency=''
source-units='degree'
target-currency=''
target-units='radian'
window-position=(1366, 32)
word-size=64

[org/gnome/calendar]
active-view='month'
window-maximized=false
window-position=(1374, 40)
window-size=(948, 1032)

[org/gnome/charmap/window-state]
size=(948, 1032)

[org/gnome/control-center]
last-panel='universal-access'

[org/gnome/desktop/app-folders]
folder-children=['Utilities', 'YaST', '72a36ecf-a9f6-446b-93c8-6db6d607d24f', '337c09c3-f095-469b-a28d-f62519e048fb', '8224bca6-6375-4f35-8c68-cf6e3116fd2b', '1eea503c-4e40-4a4c-8990-380d83cb28e5', '706756fd-2ea1-4de8-a3d8-e5d6f908b17d']

[org/gnome/desktop/app-folders/folders/1eea503c-4e40-4a4c-8990-380d83cb28e5]
apps=['pinta.desktop', 'com.obsproject.Studio.desktop', 'mpv.desktop', 'org.inkscape.Inkscape.desktop']
excluded-apps=@as []
name='Opt'

[org/gnome/desktop/app-folders/folders/337c09c3-f095-469b-a28d-f62519e048fb]
apps=['sqlitebrowser.desktop', 'code.desktop', 'geany.desktop', 'org.wezfurlong.wezterm.desktop', 'virt-manager.desktop']
excluded-apps=@as []
name='Dev'

[org/gnome/desktop/app-folders/folders/706756fd-2ea1-4de8-a3d8-e5d6f908b17d]
apps=['org.gnome.tweaks.desktop', 'org.gnome.Extensions.desktop']
excluded-apps=@as []
name='Gnome'

[org/gnome/desktop/app-folders/folders/72a36ecf-a9f6-446b-93c8-6db6d607d24f]
apps=['org.telegram.desktop._bd9ccae75ce72a4ddb4260b3c0743e13.desktop', 'chrome-adnlfjpnmidfimlkaohpidplnoimahfh-Default.desktop', 'yandex-browser.desktop']
excluded-apps=@as []
name='Web'

[org/gnome/desktop/app-folders/folders/8224bca6-6375-4f35-8c68-cf6e3116fd2b]
apps=['pop-cosmic-applications.desktop', 'pop-cosmic-launcher.desktop', 'pop-cosmic-workspaces.desktop', 'gnome-session-properties.desktop', 'nvidia-settings.desktop', 'remote-viewer.desktop', 'gnome-control-center.desktop', 'gparted.desktop', 'org.gnome.Terminal.desktop']
excluded-apps=@as []
name='System'

[org/gnome/desktop/app-folders/folders/Utilities]
apps=['org.gnome.eog.desktop', 'display-im6.q16.desktop', 'org.gnome.Evince.desktop', 'arandr.desktop', 'htop.desktop', 'gnome-system-monitor.desktop', 'org.gnome.DiskUtility.desktop', 'mcedit.desktop', 'nm-connection-editor.desktop', 'mc.desktop', 'info.desktop', 'org.gnome.Console.desktop', 'org.gnome.PowerStats.desktop', 'org.gnome.FileRoller.desktop', 'org.gnome.Calculator.desktop', 'org.gnome.Nautilus.desktop', 'gnome-language-selector.desktop']
categories=['X-GNOME-Utilities']
excluded-apps=['org.gnome.tweaks.desktop']
name='Utilites'
translate=true

[org/gnome/desktop/app-folders/folders/YaST]
apps=['libreoffice-calc.desktop', 'libreoffice-draw.desktop', 'libreoffice-impress.desktop', 'libreoffice-math.desktop', 'libreoffice-writer.desktop', 'libreoffice-startcenter.desktop']
categories=['X-SuSE-YaST']
excluded-apps=@as []
name='Office'
translate=true

[org/gnome/desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///System/Resources/Komorebi/foggy_sunny_mountain/wallpaper.jpg'
picture-uri-dark='file:///usr/share/backgrounds/pop/kate-hazen-fractal-mountains.png'
primary-color='#000000'
secondary-color='#000000'
show-desktop-icons=false

[org/gnome/desktop/calendar]
show-weekdate=false

[org/gnome/desktop/input-sources]
current=uint32 0
mru-sources=[('xkb', 'us'), ('xkb', 'ru')]
per-window=false
sources=[('xkb', 'us'), ('xkb', 'ru')]
xkb-options=['grp:alt_shift_toggle']

[org/gnome/desktop/interface]
clock-format='24h'
clock-show-date=true
clock-show-seconds=false
clock-show-weekday=false
color-scheme='prefer-dark'
document-font-name='JetBrainsMono Nerd Font Medium 12'
enable-animations=false
enable-hot-corners=false
font-antialiasing='grayscale'
font-hinting='slight'
font-name='JetBrainsMonoNL Nerd Font 12'
gtk-theme='gtk-master'
icon-theme='Dracula'
monospace-font-name='JetBrainsMono Nerd Font 11'
show-battery-percentage=false

[org/gnome/desktop/notifications]
application-children=['gnome-datetime-panel', 'org-gnome-nautilus', 'gnome-control-center', 'org-gnome-terminal', 'firefox', 'org-gnome-diskutility', 'org-gnome-tweaks', 'gnome-power-panel', 'org-gnome-contacts', 'org-gnome-weather', 'org-gnome-geary', 'org-gnome-baobab', 'gnome-network-panel', 'gucharmap', 'org-gnome-totem', 'org-gnome-seahorse-application', 'nm-connection-editor', 'org-gnome-powerstats', 'org-gnome-gedit', 'com-system76-popsicle', 'org-gnome-font-viewer', 'org-gnome-console', 'org-gnome-fileroller', 'telegramdesktop', 'org-gnome-eog', 'libreoffice-calc', 'org-gnome-calculator', 'org-telegram-desktop-091c762346fbcd3a7b7f80a30de61595', 'libreoffice-startcenter', 'libreoffice-writer', 'org-telegram-desktop-bd9ccae75ce72a4ddb4260b3c0743e13', 'geany', 'gnome-printers-panel', 'virt-manager', 'chrome-adnlfjpnmidfimlkaohpidplnoimahfh-default', 'org-wezfurlong-wezterm', 'yandex-browser', 'ca-desrt-dconf-editor', 'org-gnome-extensions-desktop', 'remote-viewer', 'simple-scan']

[org/gnome/desktop/notifications/application/ca-desrt-dconf-editor]
application-id='ca.desrt.dconf-editor.desktop'

[org/gnome/desktop/notifications/application/chrome-adnlfjpnmidfimlkaohpidplnoimahfh-default]
application-id='chrome-adnlfjpnmidfimlkaohpidplnoimahfh-Default.desktop'

[org/gnome/desktop/notifications/application/com-system76-popsicle]
application-id='com.system76.Popsicle.desktop'

[org/gnome/desktop/notifications/application/firefox]
application-id='firefox.desktop'

[org/gnome/desktop/notifications/application/geany]
application-id='geany.desktop'

[org/gnome/desktop/notifications/application/gnome-control-center]
application-id='gnome-control-center.desktop'

[org/gnome/desktop/notifications/application/gnome-datetime-panel]
application-id='gnome-datetime-panel.desktop'

[org/gnome/desktop/notifications/application/gnome-network-panel]
application-id='gnome-network-panel.desktop'

[org/gnome/desktop/notifications/application/gnome-power-panel]
application-id='gnome-power-panel.desktop'

[org/gnome/desktop/notifications/application/gnome-printers-panel]
application-id='gnome-printers-panel.desktop'

[org/gnome/desktop/notifications/application/gucharmap]
application-id='gucharmap.desktop'

[org/gnome/desktop/notifications/application/libreoffice-calc]
application-id='libreoffice-calc.desktop'

[org/gnome/desktop/notifications/application/libreoffice-startcenter]
application-id='libreoffice-startcenter.desktop'

[org/gnome/desktop/notifications/application/libreoffice-writer]
application-id='libreoffice-writer.desktop'

[org/gnome/desktop/notifications/application/nm-connection-editor]
application-id='nm-connection-editor.desktop'

[org/gnome/desktop/notifications/application/org-gnome-baobab]
application-id='org.gnome.baobab.desktop'

[org/gnome/desktop/notifications/application/org-gnome-calculator]
application-id='org.gnome.Calculator.desktop'

[org/gnome/desktop/notifications/application/org-gnome-console]
application-id='org.gnome.Console.desktop'

[org/gnome/desktop/notifications/application/org-gnome-contacts]
application-id='org.gnome.Contacts.desktop'

[org/gnome/desktop/notifications/application/org-gnome-diskutility]
application-id='org.gnome.DiskUtility.desktop'

[org/gnome/desktop/notifications/application/org-gnome-eog]
application-id='org.gnome.eog.desktop'

[org/gnome/desktop/notifications/application/org-gnome-extensions-desktop]
application-id='org.gnome.Extensions.desktop.desktop'

[org/gnome/desktop/notifications/application/org-gnome-fileroller]
application-id='org.gnome.FileRoller.desktop'

[org/gnome/desktop/notifications/application/org-gnome-font-viewer]
application-id='org.gnome.font-viewer.desktop'

[org/gnome/desktop/notifications/application/org-gnome-geary]
application-id='org.gnome.Geary.desktop'

[org/gnome/desktop/notifications/application/org-gnome-gedit]
application-id='org.gnome.gedit.desktop'

[org/gnome/desktop/notifications/application/org-gnome-nautilus]
application-id='org.gnome.Nautilus.desktop'

[org/gnome/desktop/notifications/application/org-gnome-powerstats]
application-id='org.gnome.PowerStats.desktop'

[org/gnome/desktop/notifications/application/org-gnome-seahorse-application]
application-id='org.gnome.seahorse.Application.desktop'

[org/gnome/desktop/notifications/application/org-gnome-terminal]
application-id='org.gnome.Terminal.desktop'

[org/gnome/desktop/notifications/application/org-gnome-totem]
application-id='org.gnome.Totem.desktop'

[org/gnome/desktop/notifications/application/org-gnome-tweaks]
application-id='org.gnome.tweaks.desktop'

[org/gnome/desktop/notifications/application/org-gnome-weather]
application-id='org.gnome.Weather.desktop'

[org/gnome/desktop/notifications/application/org-telegram-desktop-091c762346fbcd3a7b7f80a30de61595]
application-id='org.telegram.desktop._091c762346fbcd3a7b7f80a30de61595.desktop'

[org/gnome/desktop/notifications/application/org-telegram-desktop-bd9ccae75ce72a4ddb4260b3c0743e13]
application-id='org.telegram.desktop._bd9ccae75ce72a4ddb4260b3c0743e13.desktop'

[org/gnome/desktop/notifications/application/org-wezfurlong-wezterm]
application-id='org.wezfurlong.wezterm.desktop'

[org/gnome/desktop/notifications/application/remote-viewer]
application-id='remote-viewer.desktop'

[org/gnome/desktop/notifications/application/simple-scan]
application-id='simple-scan.desktop'

[org/gnome/desktop/notifications/application/telegramdesktop]
application-id='telegramdesktop.desktop'

[org/gnome/desktop/notifications/application/virt-manager]
application-id='virt-manager.desktop'

[org/gnome/desktop/notifications/application/yandex-browser]
application-id='yandex-browser.desktop'

[org/gnome/desktop/peripherals/keyboard]
numlock-state=true

[org/gnome/desktop/peripherals/touchpad]
send-events='disabled'
two-finger-scrolling-enabled=true

[org/gnome/desktop/privacy]
report-technical-problems=false

[org/gnome/desktop/screensaver]
color-shading-type='solid'
lock-delay=uint32 0
picture-options='zoom'
picture-uri='file:///usr/share/backgrounds/pop/kate-hazen-fractal-mountains.png'
primary-color='#000000'
secondary-color='#000000'

[org/gnome/desktop/session]
idle-delay=uint32 0

[org/gnome/desktop/wm/keybindings]
activate-window-menu=@as []
move-to-workspace-1=['<Shift><Super>exclam']
move-to-workspace-2=['<Shift><Super>quotedbl', '<Shift><Super>at']
move-to-workspace-3=['<Shift><Super>numerosign', '<Shift><Super>numbersign']
move-to-workspace-4=['<Shift><Super>semicolon', '<Shift><Super>dollar']
move-to-workspace-last=['<Shift><Super>percent']
switch-to-workspace-1=['<Super>1']
switch-to-workspace-2=['<Super>2']
switch-to-workspace-3=['<Super>3']
switch-to-workspace-4=['<Super>4']
switch-to-workspace-last=['<Super>End', '<Super>5']

[org/gnome/desktop/wm/preferences]
action-double-click-titlebar='none'
button-layout='appmenu:close'
focus-mode='sloppy'
num-workspaces=5
theme='Dracula'
titlebar-font='JetBrainsMonoNL Nerd Font Mono 10'
workspace-names=['1️⃣ term', '2️⃣ web', '3️⃣ mail', '4️⃣ other', '5️⃣ dev']

[org/gnome/eog/ui]
sidebar=false

[org/gnome/eog/view]
background-color='rgb(0,0,0)'
use-background-color=true

[org/gnome/evince/default]
window-ratio=(1.5392156862745099, 0.63888888888888884)

[org/gnome/evolution-data-server]
migrated=true
network-monitor-gio-name=''

[org/gnome/file-roller/dialogs/extract]
recreate-folders=true
skip-newer=false

[org/gnome/file-roller/listing]
list-mode='as-folder'
name-column-width=486
show-path=false
sort-method='name'
sort-type='ascending'

[org/gnome/file-roller/ui]
sidebar-width=200
window-height=984
window-width=948

[org/gnome/gedit/plugins]
active-plugins=['openlinks', 'filebrowser', 'modelines', 'docinfo', 'spell', 'sort']

[org/gnome/gedit/plugins/filebrowser]
root='file:///'
tree-view=false
virtual-root='file:///home/pps/%D0%97%D0%B0%D0%B3%D1%80%D1%83%D0%B7%D0%BA%D0%B8/JetBrainsMono'

[org/gnome/gedit/preferences/editor]
scheme='pop-dark'

[org/gnome/gedit/preferences/ui]
show-tabs-mode='auto'

[org/gnome/gedit/state/window]
bottom-panel-size=140
side-panel-active-page='GeditWindowDocumentsPanel'
side-panel-size=200
size=(948, 984)
state=87168

[org/gnome/gnome-system-monitor]
current-tab='resources'
maximized=false
network-total-in-bits=false
show-dependencies=false
show-whose-processes='user'
window-state=(1904, 1032, 1374, 40)

[org/gnome/gnome-system-monitor/disktreenew]
col-6-visible=true
col-6-width=0

[org/gnome/mutter]
dynamic-workspaces=false
edge-tiling=false
experimental-features=@as []
workspaces-only-on-primary=true

[org/gnome/nautilus/icon-view]
default-zoom-level='small'

[org/gnome/nautilus/list-view]
default-zoom-level='standard'

[org/gnome/nautilus/preferences]
default-folder-viewer='list-view'
search-filter-time-type='last_modified'
search-view='list-view'

[org/gnome/nautilus/window-state]
initial-size=(948, 1032)
maximized=false
sidebar-width=208

[org/gnome/nm-applet/eap/08080bb2-8f11-46a0-af0f-e39e5dc1b7ff]
ignore-ca-cert=false
ignore-phase2-ca-cert=false

[org/gnome/nm-applet/eap/7cdfc1c6-efc0-4b8c-a1aa-8f0d42de948c]
ignore-ca-cert=false
ignore-phase2-ca-cert=false

[org/gnome/nm-applet/eap/9f41aac8-e797-4185-856e-65c776b0d5f8]
ignore-ca-cert=false
ignore-phase2-ca-cert=false

[org/gnome/nm-applet/eap/d526b421-5309-482f-ab65-69fcad66e7a1]
ignore-ca-cert=false
ignore-phase2-ca-cert=false

[org/gnome/nm-applet/eap/ec0693e5-e73c-4cef-9c9e-9e0026e9b9ed]
ignore-ca-cert=false
ignore-phase2-ca-cert=false

[org/gnome/power-manager]
info-history-type='charge'
info-last-device='/org/freedesktop/UPower/devices/battery_BAT0'
info-page-number=0
info-stats-type='discharge-accuracy'

[org/gnome/settings-daemon/plugins/color]
night-light-last-coordinates=(55.626573880057592, 37.415771599999999)

[org/gnome/settings-daemon/plugins/media-keys]
custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/']
terminal=@as []

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0]
binding='<Super>Return'
command='alacritty'
name='Alacritty'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1]
binding='<Super>w'
command='xprop -format _MOTIF_WM_HINTS 32c -set _MOTIF_WM_HINTS 2'
name='Hide title'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2]
binding='<Super>o'
command='Obsidian'
name='Obsidian'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3]
binding='<Shift><Super>Return'
command='wezterm'
name='Wezterm'

[org/gnome/settings-daemon/plugins/power]
sleep-inactive-ac-timeout=1800
sleep-inactive-ac-type='nothing'
sleep-inactive-battery-timeout=1800
sleep-inactive-battery-type='nothing'

[org/gnome/shell]
app-picker-layout=[{'Utilities': <{'position': <0>}>, 'YaST': <{'position': <1>}>, '337c09c3-f095-469b-a28d-f62519e048fb': <{'position': <2>}>, '72a36ecf-a9f6-446b-93c8-6db6d607d24f': <{'position': <3>}>, '8224bca6-6375-4f35-8c68-cf6e3116fd2b': <{'position': <4>}>, '1eea503c-4e40-4a4c-8990-380d83cb28e5': <{'position': <5>}>}, {'706756fd-2ea1-4de8-a3d8-e5d6f908b17d': <{'position': <0>}>, 'com.alacritty.Alacritty.desktop': <{'position': <1>}>, 'obsidian.desktop': <{'position': <2>}>, 'yelp.desktop': <{'position': <3>}>}]
command-history=['к', 'r']
disable-user-extensions=false
disabled-extensions=['apps-menu@gnome-shell-extensions.gcampax.github.com', 'native-window-placement@gnome-shell-extensions.gcampax.github.com', 'launch-new-instance@gnome-shell-extensions.gcampax.github.com', 'just-perfection-desktop@just-perfection']
enabled-extensions=['ding@rastersoft.com', 'pop-cosmic@system76.com', 'system76-power@system76.com', 'ubuntu-appindicators@ubuntu.com', 'cosmic-dock@system76.com', 'cosmic-workspaces@system76.com', 'popx11gestures@system76.com', 'unite@hardpixel.eu', 'workspace-indicator@gnome-shell-extensions.gcampax.github.com', 'pop-shell@system76.com', 'auto-move-windows@gnome-shell-extensions.gcampax.github.com', 'disable-workspace-switcher-popup@github.com']
remember-mount-password=true
welcome-dialog-last-shown-version='42.5'

[org/gnome/shell/extensions/auto-move-windows]
application-list=['userapp-Firefox-Q4V221.desktop:2', 'virt-manager.desktop:5', 'yandex-browser.desktop:2', 'obsidian.desktop:4', 'org.telegram.desktop._bd9ccae75ce72a4ddb4260b3c0743e13.desktop:3']

[org/gnome/shell/extensions/dash-to-dock]
click-action='minimize'
dock-fixed=true
extend-height=false
intellihide=false
manualhide=true
multi-monitor=true

[org/gnome/shell/extensions/just-perfection]
background-menu=true
controls-manager-spacing-size=0
dash=true
double-super-to-appgrid=true
osd=true
panel=true
panel-in-overview=true
ripple-box=true
search=true
startup-status=1
theme=false
window-demands-attention-focus=false
window-picker-icon=true
window-preview-caption=true
window-preview-close-button=true
workspace=true
workspace-background-corner-size=0
workspace-peek=true
workspace-popup=true
workspaces-in-app-grid=true

[org/gnome/shell/extensions/pop-cosmic]
overlay-key-action='LAUNCHER'
show-applications-button=false
show-workspaces-button=false
workspace-picker-left=true

[org/gnome/shell/extensions/pop-shell]
active-hint=true
active-hint-border-radius=uint32 10
fullscreen-launcher=false
gap-inner=uint32 2
gap-outer=uint32 2
hint-color-rgba='rgb(98,0,119)'
mouse-cursor-follows-active-window=false
show-skip-taskbar=false
show-title=false
smart-gaps=true
snap-to-grid=false
stacking-with-mouse=true
tile-by-default=true
tile-enter=['<Super>KP_Enter']
tile-orientation=@as []

[org/gnome/shell/extensions/unite]
autofocus-windows=false
enable-titlebar-actions=false
extend-left-box=false
hide-activities-button='auto'
hide-window-titlebars='always'
notifications-position='center'
restrict-to-primary-screen=false
show-desktop-name=false
show-legacy-tray=false
show-window-buttons='never'
show-window-title='never'

[org/gnome/shell/weather]
automatic-location=true
locations=@av []

[org/gnome/simple-scan]
document-type='photo'

[org/gnome/system/location]
enabled=false

[org/gnome/terminal/legacy]
new-terminal-mode='window'

[org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9]
cursor-shape='ibeam'

[org/gtk/gtk4/settings/file-chooser]
date-format='regular'
location-mode='path-bar'
show-hidden=false
show-size-column=true
show-type-column=true
sidebar-width=206
sort-column='name'
sort-directories-first=false
sort-order='ascending'
type-format='category'
window-size=(1111, 374)

[org/gtk/settings/color-chooser]
custom-colors=[(0.38468468468468481, 0.0, 0.46666666666666667, 1.0), (0.98431372549019602, 0.72156862745098038, 0.42352941176470588, 1.0)]
selected-color=(true, 0.38468468468468481, 0.0, 0.46666666666666667, 1.0)

[org/gtk/settings/file-chooser]
clock-format='24h'
date-format='regular'
location-mode='path-bar'
show-hidden=false
show-size-column=true
show-type-column=true
sidebar-width=208
sort-column='name'
sort-directories-first=true
sort-order='ascending'
type-format='category'
window-position=(1561, 104)
window-size=(1530, 855)

[org/virt-manager/virt-manager]
manager-window-height=1032
manager-window-width=948

[org/virt-manager/virt-manager/confirm]
delete-storage=false
forcepoweroff=false

[org/virt-manager/virt-manager/connections]
autoconnect=['qemu:///system']
uris=['qemu:///system']

[org/virt-manager/virt-manager/conns/qemu:system]
window-size=(942, 1000)

[org/virt-manager/virt-manager/details]
show-toolbar=true

[org/virt-manager/virt-manager/new-vm]
graphics-type='system'

[org/virt-manager/virt-manager/paths]
image-default='/home/pps/Qemu'
media-default='/media/pps/HDD/Iso'
perms-fix-ignore=['/home/pps', '/media/pps']

[org/virt-manager/virt-manager/urls]
isos=['/media/pps/HDD/Iso/xerolinux-2023.05-x86_64.iso', '/home/pps/Qemu/archlabs-lts-2023.02.05-x86_64.iso', '/home/pps/Qemu/archlabs-2023.02.05-x86_64.iso', '/home/pps/Загрузки/manjaro-i3-22.0-minimal-230104-linux61.iso', '/home/pps/Загрузки/manjaro-xfce-22.1.3-230529-linux61.iso', '/home/pps/Загрузки/xubuntu-23.04-desktop-amd64.iso', '/home/pps/Qemu/EndeavourOS_Cassini_Nova-03-2023_R1.iso', '/home/pps/Qemu/arcolinuxb-dwm-v23.05.04-x86_64.iso', '/home/pps/Qemu/arcolinuxb-chadwm-v23.05.04-x86_64.iso', '/home/pps/Qemu/arcolinuxb-hyprland-v23.05.04-x86_64.iso']

[org/virt-manager/virt-manager/vmlist-fields]
disk-usage=false
network-traffic=false

[org/virt-manager/virt-manager/vms/0528b37dc4bb4a07805f6a55ab0c947c]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/0556b6f690644e159e678aef8514fc40]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/12936365a96849dba1ac3ec2f2fea65c]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/1e05686b1f744eb2a38b9c42fe3d840c]
autoconnect=1
scaling=1
vm-window-size=(942, 1024)

[org/virt-manager/virt-manager/vms/1e647774e92241c2bc0c963c76430b0f]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/44718e87b8ce4cccb87f93e6bd0c23a1]
autoconnect=1
scaling=1
vm-window-size=(948, 512)

[org/virt-manager/virt-manager/vms/4732d7ae210242d48c2dfb81b71b0d9a]
autoconnect=1
scaling=1
vm-window-size=(942, 506)

[org/virt-manager/virt-manager/vms/4c5187818da3433abbae9f468aac7d99]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/51da7657bb8e44e4bb9dc0e11a505147]
autoconnect=1
scaling=1
vm-window-size=(948, 512)

[org/virt-manager/virt-manager/vms/61f4b3deaa1e483da5439505913d6863]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/74e4cf0c5c3e4d3ebc6455d066337885]
autoconnect=1
scaling=1
vm-window-size=(942, 1024)

[org/virt-manager/virt-manager/vms/7c60be343e784109861c309e4e5a1a16]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/7df5cfefea9642c98e56b72481f23d57]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/9eca9f025c2646baa5cdd4818ef06dae]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/b50939657d384a84af186fa8c2567f24]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/b90a5de6436941968d10b2d7619c66d4]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/bf6fecd6c62d4a159a781a2be0015f6c]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/c472adf1ce24427284d99655e7146696]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/c4bff961582949d389dbd8a1ca9b15b5]
autoconnect=1
scaling=1
vm-window-size=(942, 1024)

[org/virt-manager/virt-manager/vms/c4e60d1736ca4b2e85033e8fa6b8ca25]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/cc2f35bbc90641cb9156a3555b34aedf]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/d0fd711a23594bd8836390f92ddb9dff]
autoconnect=1
scaling=1
vm-window-size=(942, 1024)

[org/virt-manager/virt-manager/vms/d6d3a37cf49c432b8f3276db0b584752]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/e4bb5637b3a346e0a3407dc63f3f513d]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/ebeeabea55a842ca99079bbda7f3b254]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/ec9ffa01675644548c8c930c591a0c30]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)

[org/virt-manager/virt-manager/vms/f289d0211bb44adab48c6a3503ad71bb]
autoconnect=1
scaling=1
vm-window-size=(948, 1032)

[org/virt-manager/virt-manager/vms/fb45936f21704937b7c4f56749acc027]
autoconnect=1
scaling=1
vm-window-size=(1194, 1032)

[org/virt-manager/virt-manager/vms/feddd07ebfc04f70b657bdb01f3b7043]
autoconnect=1
scaling=1
vm-window-size=(1904, 1032)
